
$body-background-color:#eaeaea;  //主体背景色

//导航栏
$nav-background-color:#fb7299; //导航栏背景色
$nav-border-bottom-color:#FFF; //导航栏底部切换条颜色
$nav-unchecked-color:#fdc6d6; //Tab项未选中
$nav-checked-color:#fff;     //Tab项被选中


$small-fontColor:#999999;//小字体颜色
$small-fontSize:0.8em;//小字体大小



